<div class="container news-section">
    <!-- Content when data is available -->
    <div *ngIf="!isLoading()">
        <h1 class="news-title text-center">{{getNewsTitle()}}</h1>
        <p class="news-subtitle text-center">{{getNewsDescription()}}</p>
        <div class="row">
            
            <!-- Cards -->
            <div class="row">
                @for(newsItem of newsList; track newsItem.id){
                    <app-news-card [news]="newsItem" class="col-lg-6 col-md-12 col-sm-12 my-3 mx-auto"></app-news-card>
                }
                @empty {
                    <div class="col-12 text-center">
                        <p>No news available at the moment.</p>
                    </div>
                }
            </div>

        </div>

    </div>
</div>