body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    margin: 3rem 0;
    padding: 3rem 10rem;
}
h1 {
    color: #1a3c5e;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
p.subtitle {
    font-size: 1.3rem;
    margin-bottom: 30px;
}

.about-card-status {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    height: 80%;
}
.about-card-status h4 {
    color: #1a3c5e;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-card-status p {
    color: #1a3c5e;
    font-size: 0.9em;
    line-height: 1.5;
}

.about-card {
    background-color: #e6ecef;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.about-card h3 {
    color: #1a3c5e;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-section {
    padding: 0 1rem;
    margin-bottom: 30px;
}
.text-section p {
    color: #1a3c5e;
    font-size: 1.1em;
}

.svg-div{
    padding: 0px 10px;
}

svg{
    width: 1.5rem;
}


.about-card:hover , .about-card-status:hover{
    transform: translateY(-10px) scale(1.02);
}