<body>
    <div class="container mt-3" *ngIf="!isLoading()">
        <h1>{{getProductTitle()}}</h1>
        <p class="text-center text-muted">{{getProductDescription()}}</p>
        
        <!-- Cards -->
        <div class="row">
            @for(productItem of productsList; track productItem.id){
                <app-product-card [product]="productItem" class="col-lg-4 col-md-12 col-sm-12 my-3 mx-auto"></app-product-card>
            }
            @empty {
                <div class="col-12 text-center">
                    <p>{{ getNoProductsText() }}</p>
                </div>
            }
        </div>

            <button class="view-all-btn">
                {{ getProductButton() }}
                <i [ngClass]="isRTL() ? 'bi bi-arrow-left ms-2' : 'bi bi-arrow-right mx-2'"></i>
            </button>
    </div>
</body>
