<app-header></app-header>

<app-hero-section></app-hero-section>

<div id="news" style="background-color: rgb(203, 140, 23); width: 50vh; height: 50vh;">
    <!-- <app-news></app-news> -->
</div>

<div id="products" style="background-color: rgb(162, 248, 133); width: 50vh; height: 50vh;">
    <!-- <app-products></app-products> -->
</div>

<div id="about" style="background-color: rgb(193, 60, 155); width: 50vh; height: 50vh;">
    <app-about></app-about>
</div>

<div id="contact" style="background-color: rgb(45, 20, 135); width: 50vh; height: 50vh;">
    <app-contact></app-contact>
</div>


<app-footer></app-footer>