<app-header 
  [activeSection]="activeSection">
</app-header>

<app-hero-section></app-hero-section>

<app-values></app-values>

<div id="news">
  <app-news></app-news>
</div>

<div id="products">
  <app-products></app-products>
</div>

<div id="about">
  <app-about></app-about>
</div>

<div id="clients">
  <app-clients></app-clients>
</div>


<app-serving-sectors></app-serving-sectors>

<div id="ceo">
  <app-ceo></app-ceo>
</div>

<div id="contact" >
  <app-contact></app-contact>
</div>

<app-footer></app-footer>