<div class="hero-section" [style.background-image]="'url('  + getHeroBackgroundImage() + ')'">
  <div class="hero-content">
    <h1 [ngStyle]="{'color': isRTL() ? '#001f4d' : 'red'}">
      {{ getHeroMainTitle() }}
    </h1>
    <p class="subtitle"> {{getHeroSubtitle()}} </p>
    <span >{{getHeroMission()}}</span>
    <div class="hero-buttons">
      <a class="btn" href="home#products"> <i class="bi bi-grid-fill me-2"></i>{{getHeroProductLabel()}}</a>
      <a class="btn" href="home#contact"> <i class="bi bi-chat-dots me-2"></i>{{getHeroKeepInTouch()}}</a>
    </div>
  </div>
</div>
